@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Aref+Ruqaa+Ink:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Aref Ruqaa Ink', serif; 
}
body{
    background: url('pic.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    text-align: center;
    max-width: fit-content;
    margin-top: 11vh;
    padding: 40px;
    background-color: rgb(1, 19, 37);
    box-shadow: 15px 15px 15px rgb(90, 89, 89);
    border-radius: 15px;
}
.input{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 60px;
    max-width: 290px;
    border: 1px solid grey;
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px grey;
    overflow: auto;
}
.btn{
    border: none;
    padding: 15px;
    margin: 0 4px;
    width: 60px;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px 8px  grey;
    background-color: rgb(1, 26, 51);
    color: white;
    cursor: pointer;
}  
.btn:hover{
    background-color: rgb(2, 50, 99);
}
#square{
    font-size: 15px;
}
.row{
    margin: 15px;
    padding: 0;
}
#equal{
    background-color: rgba(91, 91, 91, 0.696);
    color: white;
    text-align: center;
}
#equal:hover{
    background-color: rgba(151, 150, 150, 0.696);
}
.op{
    background-color: rgb(1, 37, 72);
}

@media only screen and (max-width: 1000px)  {
    body{
        background: none;
    }
    .container{
        margin: 0;
        min-width: 100%;
        min-height: 100vh;
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgb(90, 89, 89) inset;
        border: 1px solid grey;
    }
    .input{
        margin-top: 80px;
        margin-bottom: 50px;
        height: 200px;
        min-width: 100%;
        font-size: 80px;
        padding: 5px 20px;
    }
    .btn{
        border: none;
        padding: 20px;
        margin: 5px 10px;
        width: 150px;
        font-size: 40px;
        border-radius: 10px;
    } 
    .row{
        margin: 20px;
        padding: 0;
    }
    #square{
        font-size: 35px;
    }
}
@media only screen and (max-width: 820px)  {
    body{
        background: none;
    }
    .container{
        margin: 0;
        min-width: 100%;
        min-height: 100vh;
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgb(90, 89, 89) inset;
        border: 1px solid grey;
    }
    .input{
        margin-top: 80px;
        margin-bottom: 50px;
        height: 200px;
        min-width: 100%;
        font-size: 80px;
        padding: 5px 20px;
    }
    .btn{
        border: none;
        padding: 20px;
        margin: 5px 10px;
        width: 20%;
        font-size: 40px;
        border-radius: 10px;
    } 
    .row{
        margin: 20px;
        padding: 0;
    }
    #square{
        font-size: 35px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 450px){
    body{
        background: none;
    }
    .container{
        margin: 0;
        min-width: 100%;
        min-height: 100vh;
        border-radius: 5px;
        box-shadow: none;
        border: 1px solid grey;
        padding: 0;
    }
    .input{
        margin-top: 100px;
        margin-bottom: 150px;
        height: 100px;
        min-width: 100%;
        font-size: 50px;
        padding: 10px 20px;
        box-shadow: none;
        border: none;
    }
    .btn{
        border: none;
        padding: 23px;
        margin: 0;
        width: 22%;
        font-size: 30px;
        border-radius: 10px;
        box-shadow: none;
    } 
    .row{
        margin: 0;
        padding: 0;
    }
    #square{
        font-size: 27.5px;
    }
}

@media only screen and (max-width: 450px){
    body{
        background: none;
    }
    .container{
        margin: 0;
        min-width: 100%;
        min-height: 100vh;
        border-radius: 5px;
        box-shadow: none;
        border: 1px solid grey;
        padding: 0;
    }
    .input{
        margin-top: 80px;
        margin-bottom: 80px;
        height: 100px;
        min-width: 100%;
        font-size: 50px;
        padding: 10px 20px;
        box-shadow: none;
        border: none;
    }
    .btn{
        border: none;
        padding: 23px;
        margin: 0;
        width: 22%;
        font-size: 30px;
        border-radius: 10px;
        box-shadow: none;
    } 
    .row{
        margin: 0;
        padding: 0;
    }
    #square{
        font-size: 27.5px;
    }
}

@media only screen and (max-width: 380px){
    body{
        background: none;
    }
    .container{
        border-radius: 0;
        box-shadow: none;
    }
    .input{
        margin-top: 50px;
        margin-bottom: 80px;
        height: 80px;
        font-size: 50px;
        box-shadow: none;
    }
    .btn{
        border: none;
        padding: 23px;
        width: 22%;
        font-size: 25px;
        box-shadow: none;
    } 
    #square{
        font-size: 22px;
    }
}
@media only screen and (max-width: 300px){
    body{
        background: none;
    }
    .container{
        border-radius: 0;
        box-shadow: none;
    }
    .input{
        margin-top: 100px;
        margin-bottom: 150px;
        height: 80px;
        font-size: 40px;
        box-shadow: none;
    }
    .btn{
        border: none;
        padding: 15px;
        font-size: 20px;
        box-shadow: none;
    } 
    #square{    
        font-size: 17.8px;
    }
}
